*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-header{
    background-color:#ff6900
   
}
.container-header{
    width: 75%;
    margin: 0 auto;

}
.header-flex-container{

}
.header-spacing{

}
.menu-header{

}